.notification-wrapper {
	overflow: auto;
}

.notification-img {
	
}

img {
	float: left;
  width: 15%;
  height: auto;
  border-radius: 20px 5px;
}

.notification-name-message {
	overflow: auto;
}

.notification-name {
  font-size: 20px;
  color:gray;
  padding: 10px;
 }

 .notification-name:hover {
   color: orange;
 }

 .notification-message {
   padding: 10px;
   border:1px solid #9FC6FF;
   background-color: #DFEEF4;
   border-radius:20px 5px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
 }
